.rain {
    background-color: $fog-color;
    background-image: url("../img/pexels-photo-125510.jpg");
}

.snow {
    background-color: $background-color;
    background-image: url('../img/pexels-photo-355403.jpg');
}
.fog {
    background-color: $fog-color;
    background-image: url("../img/pexels-photo-3876372.webp");
}
.storm {
    background-color: $background-color;
    background-image: url("../img/pexels-photo-2947810.webp");
}
.night {
    background-color: $fog-color;
    background-image: url("../img/pexels-photo-2129796.jpg");
}
.clouds {
    background-color: $background-color;
    background-image: url("../img/blue-clouds-day-fluffy-53594.webp");
}